.wrapper

  = render 'side-bar'

  .chat
    .header
      .left-header
        .left-header__group-name
          = @group.name
        %ul.left-header__members
          Member:
          - @group.users.each do |member|
            %li.member
              = member.name
      .right-header
        .right-header__button
          = link_to "Edit", edit_group_path(@group)
    .messages{"id" => "message_view"}
      = render partial: 'message', collection: @messages

    .form
      = form_for [@group, @message], id: "new_message" do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon "picture-o", class: "icon"
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'

